@import url('https://fonts.googleapis.com/css2?family=Chango&family=Josefin+Sans&display=swap');

*{
    margin: 0;
}

body{
    background-color: #01181b;
}

main{
    width: 420px;
    height: 470px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 15px 4px #000000;
    border-radius: 35px;
    background-color: #023e46e5;
}

.calculatorBody h3{
    color: #19aec2;
    font-family: 'Chango', cursive;
    font-size: 35px;
    text-align: center;
    padding-top: 17px;
    height: 35px;
}

img{
    width: 50px;
    height: 40px;
    margin-left: 10px;
    filter: brightness(140%);
}

#answer{
    margin: 0 auto;
    margin-top: 35px;
}

#box{
    width: 280px;
    height: 50px;
    outline: 4px solid #dfdfdf;
    outline-offset: 2px;
    border-radius: 13px;
}

#value{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: white;
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 5px;
}

#buttons{
    margin: 0 auto;
    margin-top: 20px;
}

.btn{
    background-color: #0e8797;
    width: 80px;
    height: 60px;
    margin: 4px;
    border-radius: 24px;
    /*font*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #dfdfdf;
    /*button effects*/
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.btn:active{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

/*button adjustments*/
#bless{font-weight: bold;}
#bdiv{font-weight: bold;}
#bx{font-weight: bold;}
#bplus{font-weight: bold;}

/*delete button animation*/
@keyframes delAnim {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }

/*operation buttons animation*/
  @keyframes opAnim{
      0%{
          color: #dfdfdf;
      }

      50%{
          color: rgb(36, 36, 36);
      }

      100%{
          color: #dfdfdf;
      }
  }